
.cs-clientlogo-area{
    padding-top: 112px;

    @include lg{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include sm{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include vxs{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}



// about section
.cs-about-area {
    padding-top: 90px;
    padding-bottom: 90px;

    @include md{
        padding-top: 70px;
        padding-bottom: 32px;
    }
}



//best selling area

.cs-bestselling-area{
    padding-top: 110px;
    height: 922px;

    @include md{
        padding-top: 72px;
        height: 100%;
    }
}

// booking area
.cs-booking-area{
    padding-top: 0;

    .nice-select{
        margin-top: 23px;
        border-radius: 100px;
        height: 56px;
        border: none;
        background-color: $green-color2;
    
        span{
            color: $white-color;
        }
    }
    
    
}
.cs-booking-image{
    height: 100%;
    img{
        height: 100%;
    }
}
.product-cart{
    cursor: pointer;
}


// food menu
.cs-food-menu {
    padding-bottom: 355px;
}


// testimonial area {
.cs-testimonail-area{
    padding-top: 112px;
    padding-bottom: 105px;

    @include md{
        padding-top: 72px;
        padding-bottom: 62px;
    }
}

// blog area 
.cs-blog-area{
    padding-top: 113px;

    @include md{
        padding-top: 72px;
    }
}

// blog-details{

.cs-comment-form .comment-form .contact-btn .cs-btn {
    padding: 20px 120px;
}

// shop details
.cs-shop-details-area{
    padding-bottom: 0;
}

// footer area 
.widget-area-logo {
    margin-top: -15px;
}
.cs-footer-area .footer-top .widget-area .footer-title {
    padding: 15px 0px 30px 0px;
}

// cart page 
.cs-cart-area{
    padding-bottom: 75px;
}

.cart-table table tbody tr {
    td{
        &:first-child{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        &:last-child{
            border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        }
    }
     
}

// my account page
.cs-my-account{
    padding-top: 110px;
}
.cs-my-account .accont-form .account-btn .cs-btn {
    padding: 16px 85px;
}
.cs-my-account .account-email .accont-form .account-btn .cs-btn {
    padding: 16px 305px;
}

//contact page

.cs-contact-area .cs-contact-form .contact-form .contact-btn .cs-btn {
    padding: 16px 120px;

}