/*** Work Process Code ***/

.cs-work-process {
    padding-top: 190px;
    margin-top: -70px;
    background: $white-color;

    .work-process {
        margin-top: 40px;

        .process-item {
            gap: 20px;
            background: $white-color;
            padding: 30px;
            border: 1px solid $light-gray;
            border-radius: 20px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.0) 0px 3px 5px;
            box-shadow: rgba(0, 0, 0, 0.0) 0px 3px 5px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0px;
            }

            .process-icon {
                position: relative;

                >a {
                    background: $black-color;
                    width: 80px;
                    height: 80px;
                    border-radius: 100px;
                    display: inline-block;
                    text-align: center;
                    color: $white-color;
                    line-height: 95px;

                    i {
                        font-size: 30px;
                    }
                }

                .process-number {
                    position: absolute;
                    color: $theme-color2;
                    left: 80%;
                }
            }

            .process-info {
                >p {
                    padding-top: 10px;
                    display: block;
                    color: $title-color;

                }
            }
        }
    }

    .work-process-img {
        border: 1px solid $gray-color;
        padding: 58px 38px 30px 38px;
        border-radius: 20px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0) 0px 3px 5px;
        box-shadow: rgba(0, 0, 0, 0.0) 0px 3px 5px;
    }

}